body{
    margin: 0;
    padding:0;
    background-image: url("../images/dynamic-style.png")
}

.container1{
    background-color: #ffffff;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #cccccc;
    overflow: hidden;
}

nav{
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

h1, h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

li{
    padding: 0px 10px 0px 10px;
    margin-top: 20px;
    float: right;
    list-style: none;
}

h1{
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    margin-left: 225px;
    margin-bottom: -5px;
}

a{
    text-decoration: none;
}

.content{
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px 30px 20px 30px
}

.contact{
    margin-right: 225px;
}

.form{
    width: 900px;
}

.text{
    height: 200px;
}

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.portfolio{
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    border-color: #777777;
}

p{
    color: #777777;
}

.abstract{
    position: relative;
    width: 100%;
    padding: 0px 20px 10px 0px;
}

.image-text{
    color: #4aaaa5;
    position: inline;
    text-align: center;
    bottom: 60px;
    left: -5px;
}

.image{
    float: left;
    clear: both;
}

.container2{
    width: 900px;
    height: 850px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px 30px 20px 30px
}

#one{
    float: left;
    height: 200px;
    width: 300px;
    color: #fff;
    background: #30948D;
    margin: 20px 50px 20px 0px;
}

#two{
    float: left;
    height: 200px;
    width: 300px;
    color: #fff;
    background: #30948D;
    margin: 20px 250px 20px 0px;
}

#three{
    float: left;
    height: 200px;
    width: 300px;
    color: #fff;
    background: #30948D;
    margin: 20px 50px 20px 0px;
}

#four{
    float: left;
    height: 200px;
    width: 300px;
    color: #fff;
    background: #30948D;
    margin: 20px 30px 20px 0px;
}

#five{
    float: left;
    height: 200px;
    width: 300px;
    color: #fff;
    background: #30948D;
    margin: 20px 30px 20px 0px;
}

#me{
    float: left;
    margin: 10px 20px 20px 0px
}